<!--メッセージ一覧-->
<div class="row">
	<div class="col-8 offset-2">
		<table id="js-table-comment", class="table col-12">
			<% if messages.present? %>
        <% messages.each do |m| %>
          <% if m.user.id == current_user.id %>
            <tr class="row justify-content-center">
              <td class="col-2">
                <%= link_to attachment_image_tag(m.user, :image, :fill, 80, 80, fallback: "noimage.png", size:'80x80', class:"profile-image align-top"), user_path(m.user) %>
              </td>
              <td class="col-10">
                <%= m.user.display_name %> <br>
                <div class="says">
                  <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
                  <span><%= l m.created_at %></span>
                </div>
              </td>
            </tr>
          <% else %>
            <tr class="row justify-content-center">
              <td class="col-10">
                <div class="col-11 float-right">
                  <%= m.user.display_name %> <br>
                </div>
                <div class="other-user-says">
                  <p><%= safe_join(m.content.split("\n"),tag(:br)) %></p>
                  <span><%= l m.created_at %></span>
                </div>
              </td>
              <td class="col-2">
                <%= link_to attachment_image_tag(m.user, :image, :fill, 80, 80, fallback: "noimage.png", size:'80x80', class:"profile-image align-top"), user_path(m.user) %>
              </td>
            </tr>
          <% end %>
				<% end %>
			<% else %>
        <h4 class="text-center py-4">メッセージはまだありません</h4>
			<% end %>
		</table>
	</div>
</div>