<table class="table">
  <tbody class="tbody">
    <% magics.each do |magic| %>
      <tr class="row justify-content-center px-4">
        <!-- 動画サムネイル -->
        <td class="col-2 d-flex align-items-center justify-content-center">
          <%= link_to magic_path(magic) do %>
            <%= image_tag(magic.video_url(:screenshot).to_s,:size => '128x72', id: "video", class: "magic-image", :alt => "screenshot") %>
          <% end %>
        </td>
        <!-- マジック投稿タイトル -->
        <td class="col-2 d-flex align-items-center">
          <%= link_to magic_path(magic) do %>
            <%= magic.title %>
          <% end %>
        </td>
        <!-- マジック投稿説明 -->
        <td class="col-2 d-flex align-items-center">
          <%= magic.body %>
        </td>
        <!-- ユーザー名 -->
        <td class="col-2 d-flex align-items-center">
          <%= link_to user_path(magic.user) do %>
            <%= magic.user.display_name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- ページャ -->
<div class="row justify-content-center mt-4" >
  <%= paginate magics %>
</div>
