<table class="table">
  <tbody class="tbody">
    <% magics.each do |magic| %>
      <tr class="row justify-content-center px-4">
        <!-- 動画サムネイル -->
        <td class="col-sm-3 justify-content-center">
          <div class="justify-content-center">
            <span class="small"><%= l magic.created_at %></span><br>
          </div>
          <div class="magic-image-area justify-content-center">
            <%= link_to magic_path(magic) do %>
              <%= image_tag(magic.video_url(:screenshot).to_s,:size => '150x100', id: "video", class: "magic-image", :alt => "screenshot") %>
            <% end %>
          </div>
        </td>

        <td class="col-sm-7">
          <!-- マジック投稿タイトル -->
          <p class="magic-title">
            <%= link_to magic_path(magic) do %>
              <%= magic.title %>
            <% end %>
          </p>
          <div class="magic-body">
            <!-- マジック投稿説明 -->
            <p class="text-overflow"><%= safe_join(magic.body.split("\n"),tag(:br)) %></p>
             <!-- ユーザー名 -->
            <p>
              投稿者：
              <%= link_to user_path(magic.user) do %>
                <%= magic.user.display_name %>
              <% end %>
            </p>

            <!-- いいね -->
            <%= render 'magic_favorites/favorite_count', magic: magic %>&nbsp&nbsp
            <!-- コメント -->
            <%= render 'magic_comments/comment_count', magic: magic %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- ページャ -->
<div class="row justify-content-center mt-4" >
  <%= paginate magics %>
</div>
