<div class="magic-area justify-content-center">
  <%= link_to magic_path(magic.id) do %>
    <div class="magic-image-area">
      <!-- 動画サムネイル -->
      <%= image_tag(magic.video_url(:screenshot).to_s, :size => '150x100', id: "video", class: "magic-image mb-2", :alt => "screenshot") %><br>
    </div>
    <!-- 投稿タイトル -->
    <span class="magic-title"><%= magic.title %></span><br>
  <% end %>

  <!-- ユーザー名 -->
  <%= link_to user_path(magic.user) do %>
    <%= magic.user.display_name %>
  <% end %><br>

  <!-- いいね -->
  <%= render 'magic_favorites/favorite_count', magic: magic %>&nbsp&nbsp
  <!-- コメント -->
  <%= render 'magic_comments/comment_count', magic: magic %>

</div>