<table class="table">
	<tbody class="tbody">
		<% products.each_with_index do |product,i| %>
			<tr class="row justify-content-center px-4">
				<!--順位-->
				<td class="col-1 d-flex align-items-center justify-content-center">
					<em class="h1 about-sub-title"><%= i+1 %></em>
				</td>
				<!-- 商品画像 -->
				<td class="col-2 d-flex align-items-center justify-content-center">
					<div class="justify-content-center">
						<%= link_to product_path(product) do %>
							<%= attachment_image_tag(product, :image, :fill, 150, 100, fallback: "noimage.png", size:'150x100', class:"product-image") %>
						<% end %>
					</div>
				</td>
				<!-- 商品名 -->
				<td class="col-2 d-flex align-items-center">
					<%= link_to product_path(product) do %>
						<%= product.name %>
					<% end %>
				</td>
				<!-- マジック投稿説明 -->
				<td class="col-2 d-flex align-items-center">
					<span class="text-overflow"><%= safe_join(product.explanation.split("\n"),tag(:br)) %></span>
				</td>
				<!-- ユーザー名 -->
				<td class="col-2 d-flex align-items-center">
					<%= link_to user_path(product.user) do %>
						<%= product.user.display_name %>
					<% end %>
				</td>
				<!-- いいねコメント数 -->
				<td class="col-2 d-flex align-items-center">
					<!-- いいね -->
					<%= render 'product_favorites/favorite_count', product: product %>&nbsp&nbsp
					<!-- コメント -->
					<%= render 'product_comments/comment_count', product: product %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>