<div class="container box">
  
  <!-- Aboutタイトル、説明 -->
  <div class="row justify-content-center py-2">
    <div class="col-12">
      <h2 class="title-en">What's Magicians Society??</h2>
    </div>
    <div class="col-10 mt-2">
      <p class="lead">当サイトは「誰でも気軽にマジックを楽しむ！」をコンセプトとした、<br>
      マジック動画投稿SNSサイトです！</p>
    </div>
  </div>
  
  <!--About説明① -->
  <div class="row justify-content-center py-2 mt-4">
    <div class="col-5 about-image-area">
      <%= image_tag "Card1.jpg", :size => '400x280',class:"img-thumbnail about-image" %>
    </div>
    <div class="col-5 col-offset-2 py-1">
      <span class="lead pb-1">①マジックを見よう！</span>
      <p class="mt-2">
        画面右上のメニューより<br>
        「マジック一覧」をクリックすると、<br>
        マジック動画投稿の一覧画面が表示されます。<br>
        興味のあるジャンルで検索し、<br>
        お気に入りにマジックを見つけましょう！<br><br>
        また、ユーザー登録することで、マジック動画の投稿に<br>
        いいね！やコメントをつけることができます。<br>
      </p>
    </div>
  </div>
  
  <!--About説明② -->
  <div class="row justify-content-center py-2 mt-4">
    <div class="col-5 py-1">
      <span class="lead pb-1">②マジックを見せよう！</span>
      <p class="mt-2">
        ユーザー登録することで、マジック動画を<br>
        投稿することができるようになります！<br>
        自分のお気に入りの自信作から練習中のマジックまで、<br>
        気軽に投稿ましょう！<br>
      </p>
    </div>
    <div class="col-5 col-offset-2 about-image-area">
      <%= image_tag "Card6.jpg", :size => '400x280', class:"img-thumbnail about-image" %>
    </div>
  </div>
  
  <!--About説明③-->
  <div class="row justify-content-center py-2 mt-4">
    <div class="col-5 about-image-area">
      <%= image_tag "Ball1.jpg", :size => '400x280', class:"img-thumbnail about-image" %>
    </div>
    <div class="col-5 col-offset-2 py-1">
      <span class="lead pb-1">③マジック道具を購入しよう！</span>
      <p class="mt-2">
        ユーザー登録することで、マジック道具を<br>
        購入・販売することができるようになります！<br>
        画面右上のメニューの「グッズ一覧」をクリックすると、<br>
        現在販売されているマジック道具の一覧が表示されます。<br>
        動画を見て気になったマジック道具を購入してみましょう！<br>
      </p>
    </div>
  </div>
  
  <!--ログイン、サインアップボタン-->
  <% if !user_signed_in? %>
    <div class="row justify-content-center pb-4 my-4">
      <div class="col-2 col-offset-2">
        <%= link_to "ログイン", new_user_session_path, class: "btn btn-lg btn-outline-light" %>
      </div>
      <div class="col-2 col-offset-4">
        <%= link_to "新規登録", new_user_registration_path, class: "btn btn-lg btn-outline-light" %>
      </div>
    </div>
  <% end %>
  
</div>