<div class="box my-5 pb-5">

	<!-- Aboutタイトル、説明 -->
	<div class="row p-5">
		<div class="col-12 justify-content-center">
			<h1 class="title">How to use?</h1>
			<div class="title-line mt-4"></div>
		</div>
	</div>

	<!--About説明① -->
	<div class="row justify-content-center py-2 mt-4">
		<div class="col-5 about-image-area">
			<%= image_tag "About1.jpg", :size => '400x280',class:"about-image" %>
		</div>
		<div class="col-5 col-offset-2 py-1">
			<div class="about-area float-right">
				<em class="h1 about-sub-title mr-3">01</em>
				<em class="h3 pb-1 about-sub-title">マジックを閲覧する</em>
				<div class="about-text-area d-flex align-items-center">
					<p class="mt-2">
						画面右上メニュー「Magics」より、<br>
						マジック動画を見ることができます。<br>
						興味のあるジャンルで検索し、<br>
						お気に入りのマジックを見つけましょう！<br><br>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!--About説明② -->
	<div class="row justify-content-center py-2 mt-4">
		<div class="col-5 py-1">
			<em class="h1 about-sub-title mr-3">02</em>
			<em class="h3 pb-1 about-sub-title">マジックを投稿する</em>
			<div class="about-text-area d-flex align-items-center">
				<p class="mt-2">
					ユーザー登録することで、「Magics」画面で<br>
					マジック動画を投稿することができます。<br>
					自分のお気に入りの自信作から練習中のマジックまで、<br>
					気軽に投稿しましょう！<br>
				</p>
			</div>
		</div>
		<div class="col-5 col-offset-2 about-image-area">
			<%= image_tag "Card6.jpg", :size => '400x280', class:"about-image float-right" %>
		</div>
	</div>

	<!--About説明③-->
	<div class="row justify-content-center py-2 mt-4">
		<div class="col-5 about-image-area">
			<%= image_tag "Ball1.jpg", :size => '400x280', class:"about-image" %>
		</div>
		<div class="col-5 col-offset-2 py-1">
			<div class="about-area float-right">
				<em class="h1 about-sub-title mr-3">03</em>
				<em class="h3 pb-1 about-sub-title">マジック道具を購入する</em>
				<div class="about-text-area d-flex align-items-center">
					<p class="mt-2">
						ユーザー登録することで、マジック道具を<br>
						購入・販売することができます。<br>
						画面右上のメニューの「Products」より、<br>
						販売されているマジック道具を見ることができます。<br>
						気になったマジック道具を購入してみましょう！<br>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!--ログイン、サインアップボタン-->
	<% if !user_signed_in? %>
		<div class="row justify-content-center my-5">
			<div class="mx-5">
				<%= link_to "Login", new_user_session_path, class: "h3 link-btn" %>
			</div>
			<div class="mx-5">
				<%= link_to "Sign Up", new_user_registration_path, class: "h3 link-btn" %>
			</div>
		</div>
	<% end %>

</div>