<div class="box my-5 pb-5">

  <!-- TOP画面タイトル -->
  <div class="row p-5">
    <div class="col-12 justify-content-center main-visual">
      <div class="justify-content-center pt-5">
        <div class="col-12 main-visual-text-box mt-2 justify-content-center title-fade-in-bottom">
          <p class="h1 main-title text-white text-center">Welcome to Magicians Society</p>
          <p class="h5 main-title text-white text-center">お気に入りのマジックや商品を見つけよう！</p>
        </div>

        <!-- ログインしていない場合 -->
        <% if !user_signed_in? %>
          <!--ログイン、サインアップボタン-->
          <div class="row justify-content-center mt-5 link-fade-in-bottom">
            <div class="mx-5">
              <%= link_to "Login", new_user_session_path, class: "h3 top-link-btn text-white main-link" %>
            </div>
            <div class="mx-5">
              <%= link_to 'Guest Login', users_guest_sign_in_path, method: :post, class: "h3 top-link-btn text-white main-link" %>
            </div>
          </div>
        <!-- ログイン中の場合 -->
        <% else %>
          <!--マジック投稿一覧、商品一覧へのリンク-->
          <div class="row justify-content-center mt-5 link-fade-in-bottom">
            <div class="mx-5">
              <%= link_to "Magics", magics_path, class: "h3 top-link-btn text-white main-link" %>
            </div>
            <div class="mx-5">
              <%= link_to "Products", products_path, class: "h3 top-link-btn text-white main-link" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- 本日のピックアップマジック -->
  <div class="row pb-5">
    <div class="col-5 offset-1 justify-content-center">
      <h4 class="title">本日のピックアップマジック</h4>
      <div class="title-line mt-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 offset-1">
      <%= render 'homes/magic_index', magics: @magics %>
    </div>
    <div class="col-9 offset-1">
      <%= link_to "more >>", magics_path , class: "float-right" %>
    </div>
  </div>

  <!-- 本日のピックアップ商品 -->
  <div class="row py-5">
    <div class="col-5 offset-1 justify-content-center">
      <h4 class="title">本日のピックアップ商品</h4>
      <div class="title-line mt-2"></div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-10 offset-1">
      <%= render 'homes/product_index', products: @products %>
    </div>
    <div class="col-9 offset-1">
      <%= link_to "more >>", products_path , class: "float-right" %>
    </div>
  </div>


</div>