<table class="table">
  <tbody class="tbody">
    <% anotherEntries.each do |e| %>
      <tr class="row justify-content-center px-4">
        <!-- プロフィール画像 -->
        <td class="col-2 d-flex align-items-center justify-content-center">
          <%= link_to user_path(e.user) do %>
            <%= attachment_image_tag(e.user, :image, :fill, 80, 80, fallback: "noimage.png", size:'80x80', class:"profile-image") %>
          <% end %>
        </td>

        <td class="col-5">
          <!-- ユーザー名 -->
          <p>
            <%= link_to user_path(e.user) do %>
              <%= e.user.display_name %>
            <% end %>
          </p>
          <div class="index-body">
            <!-- 最新のチャットメッセージ -->
            <% if (e.room.messages.last) %>
              <p class="text-overflow"><%= (e.room.messages.last).content %></p>
            <% else %>
              <p>メッセージはありません。</p>
            <% end %>
          </div>
        </td>

        <!-- チャットを始めるボタン -->
        <td class="col-2 d-flex align-items-center">
          <%= link_to "チャットを始める", room_path(e.room), user_id: e.user.id, class: "btn btn-secondary my-3" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>