<div class="row py-2">

  <!-- レフトコンテンツ -->
  <div class="col-6">
    <!-- 商品画像 -->
    <div class="row justify-content-center">
      <%= attachment_image_tag(product, :image, fallback: "noimage.png", size:'150x150', class:"img-thumbnail profile-image") %>
    </div>
    <!-- 商品画像編集ボタン -->
    <div class="row justify-content-center my-4">
      <%= f.attachment_field :image, class:"offset-2" %>
		</div>
	</div>

  <!-- ライトコンテンツ -->
	<div class="col-6 justify-content-center">

    <!-- 商品名入力フォーム -->
    <div class="row form-group d-flex align-items-center">
      <%= f.label "商品名", class: "col-4 control-label" %>
      <div class="col-6">
				<%= f.text_field :name, class: "form-control" %>
      </div>
    </div>

    <!-- 商品説明入力フォーム -->
    <div class="row form-group">
      <%= f.label "商品説明", class: "col-4 control-label" %>
      <div class="col-6">
				<%= f.text_area :explanation, rows: 5, class: "form-control" %>
      </div>
    </div>

    <!-- ジャンル選択フォーム -->
		<div class="row form-group d-flex align-items-center">
			<%= f.label "ジャンル", class: "col-4 control-label" %>
			<div class="col-6">
				<%= f.collection_select :genre_id, genres, :id, :name, { prompt: "-- 選択してください --" }, { class: "form-control" } %>
			</div>
		</div>

		<!-- 価格入力フォーム -->
    <div class="row form-group">
      <%= f.label "価格", class: "col-4 control-label" %>
      <div class="col-6">
				<%= f.text_field :after_tax_price, class: "form-control" %>
      </div>
    </div>

		<!-- 販売ステータス選択フォーム -->
    <div class="row form-group">
			<%= f.label "販売ステータス", class: "col-4 control-label" %>
			<div class="col-6">
				<%= f.select :is_sale, [["販売中",true],["売切れ",false]], {include_blank: '--選択してください--'}, {class: "form-control"} %>
			</div>
		</div>

  </div>

</div>