<div class="product-area">
  <%= link_to product_path(product.id) do %>
    <!-- 商品画像 -->
    <%= attachment_image_tag(product, :image, :fill, 150, 100, fallback: "noimage.png", size:'150x100', class:"product-image mb-2") %><br>
    <!-- 商品名 -->
    <span class="product-title"><%= product.name %></span><br>
  <% end %>

  <!-- 商品価格 -->
  <% if product.is_sale == true %>
    ¥<%= product.price.to_s(:delimited) %><br>
  <% elsif product.is_sale == false %>
    売切れ<br>
  <% end %>

  <!-- いいね -->
  <%= render 'product_favorites/favorite_count', product: product %>&nbsp&nbsp
  <!-- コメント -->
  <%= render 'product_comments/comment_count', product: product %>
</div>