<header class="navbar navbar-default justify-content-left">
  <nav class='navbar-nav navbar-left'>
    <%= link_to root_path do %>
      <%= image_tag "logo2.png", :size => '200x50' %>
    <% end %>
  </nav>
  <nav class='navbar-nav navbar-left search'>
  	<%= form_with url: search_path, method: :get, class: "form-inline input-group", local: true do |f| %>
  	  <% if @content %>
        <%= f.text_field :content, :placeholder => "マジック動画タイトル、商品名、ユーザー名で検索", value: @content, class: "form-control" %>
      <% else %>
        <%= f.text_field :content, :placeholder => "マジック動画タイトル、商品名、ユーザー名で検索", class: "form-control" %>
      <% end %>
    	<span class="input-group-btn">
    	  <%= f.button :type => "submit", class: "btn btn-secondary" do %>
          <i class='fas fa-search'></i>
        <% end %>
    	</span>
  	<% end %>
  </nav>
  <nav class='navbar-nav navbar-left'>
  </nav>


  <nav class='nav navbar-nav navbar-right'>
    <div id="sp-menu">
      <ul>
        <% if user_signed_in? %>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "TOP.png", :size => '30x30' %>
              <%= link_to 'TOP', root_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "About.png", :size => '30x30' %>
              <%= link_to 'About', about_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Mypage.png", :size => '30x30' %>
              <%= link_to 'My Page', user_path(current_user), class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Message.png", :size => '30x30' %>
              <%= link_to 'Messages', rooms_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Magics.png", :size => '30x30' %>
              <%= link_to 'Magics', magics_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Goods.png", :size => '30x30' %>
              <%= link_to 'Products', products_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Magicians.png", :size => '30x30' %>
              <%= link_to 'Magicians', users_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Ranking.png", :size => '30x30' %>
              <%= link_to 'Ranking', ranking_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "logout.png", :size => '30x30' %>
              <%= link_to 'Logout', destroy_user_session_path, method: :delete, class:"h5" %>
            </div>
          </li>
        <% else %>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "TOP.png", :size => '30x30' %>
              <%= link_to 'TOP', root_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "About.png", :size => '30x30' %>
              <%= link_to 'About', about_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Magics.png", :size => '30x30' %>
              <%= link_to 'Magics', magics_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Goods.png", :size => '30x30' %>
              <%= link_to 'Products', products_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Magicians.png", :size => '30x30' %>
              <%= link_to 'Magicians', users_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "Ranking.png", :size => '30x30' %>
              <%= link_to 'Ranking', ranking_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "login.png", :size => '30x30' %>
              <%= link_to 'Login', new_user_session_path, class:"h5" %>
            </div>
          </li>
          <li>
            <div class="d-flex align-items-center">
              <%= image_tag "new.png", :size => '30x30' %>
              <%= link_to 'Sign Up', new_user_registration_path, class:"h5" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="blackBg"></div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  </nav>
</header>