<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <%= render 'layouts/header' %>

      <div class="container">
        <!--サクセスメッセージ-->
        <% if flash[:notice] %>
            <p class="alert alert-success"><%= flash[:notice] %></p>
        <% end %>
        <div class="my-4">
          <%= yield %>
        </div>
      </div>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
